/* *****************************************************************************
File Name: mplus_form.css
Author: Vladmir Cruz
Date: 05/01/2019
Version: 0.1

Change Control:
===============
Date          | Author                | Description
--------------------------------------------------------------------------------
05/01/2019    | Vladmir Cruz          | Creation of the file
***************************************************************************** */

/* *****************************************************************************
Setting up the Body of the document
***************************************************************************** */
body
{
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* *****************************************************************************
<div> visibility control classes
May not be the best solution... but that sure works!
 ***************************************************************************** */
.div_visibility_hide
{
  display: none;
}

.div_visibility_show
{
  display: block;
}

/* *****************************************************************************
<span> to set the important mark red
***************************************************************************** */
.mandatory
{
  color: #FF0000;
}

/* *****************************************************************************
Footer class (needless to say more!)
***************************************************************************** */
.footer
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  background-color: #d1d1d1;
}

/* *****************************************************************************
Validation Classes
***************************************************************************** */
.correct /* validation is OK */
{
  color: #11AB00;
}

.wrong /* validation returns ERROR */
{
  color: #FF0000;
}
