body
{
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main_div
{
    /* Centers the Main div right in the center of the screen */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}